// @use "./config";

:root {
    --white255: rgb(255, 255, 255);
    --black000: rgb(0, 0, 0);

    --primary-red: rgb(255, 66, 66);
    --secondary-red: rgb(255, 63, 58);
    --gray-light: rgb(229, 232, 237);
    --gray-medium: rgb(154, 156, 165);
    --gray-dark: rgb(120, 122, 128);
    --gray-text: rgb(66, 69, 81);
    --dark: rgb(30, 33, 44);
}
$varAdaptiv: 90vw;
$heightHeader: 80px;





